@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('ttf'),
    url('../fonts/roboto.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

p{
    color: dodgerblue;
}